name: Desplegar Angular a GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Instalar Node.js y NPM
        uses: actions/setup-node@v4
        with:
          node-version: 20 
          cache: 'npm'

      - name: Instalar dependencias
        run: npm ci

      - name: Compilar (Build)
        run: npm run build -- --base-href=/toDo/

      - name: Desplegar
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: dist/toDo/browser